.pop-up_body
{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    max-width: 640px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 50px;
    transform: scale(50%);
    transition: 0.25s ease-in-out;
    z-index: 3;
    opacity: 0;
}

.pop-up_header
{
    position: relative;
    margin-right: 25px;
}

.pop-up_header-image
{
    max-width: 330px;
    width: 100%;
}

.pop-up_header-title
{
    font: 500 26px 'Montserrat';
    position: relative;
    margin: -5px 0 0 42px;
}

.pop-up_form
{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 30px 95px 0 0;
}

.pop-up_form-name,
.pop-up_form-email,
.pop-up_form-activity
{
    position: relative;
    min-height: 64px;
    margin: 0 0 20px 100px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding-left: 20px;
    font: 450 16px 'Montserrat';
    color: rgba(0, 0, 0, 0.7);
    appearance: none;
}

.pop-up_checkbox
{
    margin-left: 105px;
}

.pop-up-checkbox
{
    position: relative;
    z-index: -1;
    opacity: 0;
}

.pop-up-checkbox+label::before
{
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin-right: 5px;
}

.pop-up-checkbox:checked+label::before
{
    border-color: #ee58b6;
    background-color: #ee58b6;
}

.pop-up_checkbox-text
{
    display: flex;
    align-items: center;
    font: 400 11px 'Montserrat';
    letter-spacing: -0.01cm;
}

.pop-up_checkbox-image
{
    position: absolute;
    margin: -14px 0 0 2px;
    width: 15px;
    height: 10px;
}

.pop-up_body input,select:focus
{
    outline: none;
}

.pop-up_form-name_active
{
    border-color: red;
}

.pop-up_form-email_active
{
    border-color: red;
}

.pop-up_form-activity_active
{
    border-color: red;
}

.pop-up_form-name_active-error,
.pop-up_form-email_active-error,
.pop-up_form-activity_active-error,
.pop-up_checkbox_active,
.pop-up_button_active,
.pop-up_header_active
{
    opacity: 0;
    z-index: -1;
}

.pop-up_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05090c;
    border-radius: 5px;
    max-width: 380px;
    width: 100%;
    margin: 35px 0 0 102px;
}

.pop-up_button-text
{
    color: #fff;
    font: 400 16px 'Montserrat';
}

.pop-up-background
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    z-index: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.pop-up
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 0;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.pop-up-background_active
{
    z-index: 2;
    opacity: 1;
}

.pop-up_active
{
    opacity: 1;
    z-index: 1;
}

.pop-up_body_active
{
    transform: scale(100%);
    opacity: 1;
}

.pop-up_error-status
{
    position: absolute;
    opacity: 0;
}

.pop-up_error-status_active
{
    opacity: 1;
    margin-bottom: 150px;
    font: 550 33px 'Montserrat';
}

.pop-up_container
{
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up_close
{
    position: absolute;
    margin: 0 0 700px 585px;
    cursor: pointer;
}